{% load static %}

<script src="{% static 'js/vue.js'%}"></script>

{# This is a comment #}
{# This template is included in patients.html #}
<div class="container" id="app">
    <div class="card">
        <div class="card-header">
            Patient # [[id]]
        </div>
        <div class="card-body">
            <h5 class="card-title">[[lname]], [[fname]] [[mid]].</h5>
            <p class="card-text">
                <div>Age: [[age]]</div>
                <div>Sex: [[sex]]</div>

            </p>
            <button class="btn btn-primary" v-on:click="getRand">Get random patient</button>
        </div>
    </div>
</div>
<script>
    new Vue({
        el: '#app',
        data: {
            id: '0',
            fname: '*',
            lname: '*',
            mid: '*',
            age: '*',
            sex: '*',
        },
        methods: {
            getRand: function () {
                fetch('{% url "rand" %}')
                    .then(response => response.json())
                    .then(myJson => JSON.parse(myJson.rand_patient)[0])
                    .then(patient => {
                        console.log(patient, this.$data);
                        this.$data.id = patient.pk;
                        this.$data.fname = patient.fields.first_name;
                        this.$data.lname = patient.fields.last_name;
                        this.$data.mid = patient.fields.middle_initial;
                        this.$data.age = patient.fields.age;
                        this.$data.sex = patient.fields.sex;
                    })
            }
            ,
        },
        delimiters: ['[[', ']]']
    });
</script>


<!-- <div class="container"> -->
<!-- <select name="" id="test"></select> -->
<!-- <label for="first">First Name -->
    <span>
<select id="first" style="width: 100%; display: inline-block"></select></span><span>
<!-- <select id="mid" style="width: 30%"></select></span><span>
<select id="last" style="width: 30%"></select></span><span></span> -->
</span>
<!-- </div> -->

<script>
    $(document).ready(function () {
        console.log("asd");
        // $.fn.modal.Constructor.prototype.enforceFocus = function() {};
        var first, mid, last;

        $('#first').select2({
            placeholder: 'First Name',
            minimumInputLength: 1,
            ajax: {
                url: "{% url 'actions/get-filtered-patient-names' %}",
                data: function (params) {
                    var data = {
                        term: params.term,
                    };
                    console.log('data', data);
                    return data;
                },
                processResults: function (data) {
                    console.log(data);
                    // Tranforms the top-level key of the response object from 'items' to 'results'
                    return {
                        results: data.map(p => {
                            return {
                                id: p.pk,
                                text: p.last_name + ', ' + p.first_name + ' ' + p.middle_initial + '.',
                            }

                        })
                    };
                }
            }
        });

        // $('#mid').select2({
        //     ajax: {
        //         url: "{% url 'actions/get-filtered-patient-names' %}",
        //         data: function (params) {
        //             mid = params.term;
        //             var data = {
        //                 first: first,
        //                 mid: mid,
        //                 last: last,
        //             };
        //             console.log('data', data);
        //             return data;
        //         },
        //         processResults: function (data) {
        //             console.log(data);
        //             // Tranforms the top-level key of the response object from 'items' to 'results'
        //             return {
        //                 results: data.map(p => {
        //                     return {
        //                         id: p.pk,
        //                         text: p.middle_initial,
        //                     }

        //                 })
        //             };
        //         }
        //     }
        // });

        // $('#last').select2({
        //     ajax: {
        //         url: "{% url 'actions/get-filtered-patient-names' %}",
        //         data: function (params) {
        //             last = params.term;
        //             var data = {
        //                 first: first,
        //                 mid: mid,
        //                 last: last,
        //             };
        //             console.log('data', data);
        //             return data;
        //         },
        //         processResults: function (data) {
        //             console.log(data);
        //             // Tranforms the top-level key of the response object from 'items' to 'results'
        //             return {
        //                 results: data.map(p => {
        //                     return {
        //                         id: p.pk,
        //                         text: p.last_name,
        //                     }

        //                 })
        //             };
        //         }
        //     }
        // });

        // $('.js-example-basic-multiple').select2();

    });



</script>

<style>
    .select2-selection, .select2-selection--single {
    width: 100%;
    padding-bottom: 13px;
    margin-bottom: 27px;
    border-style: none none solid none;
    border-bottom: 2px solid #d9d9d9;
    background: transparent;
    color: #333333;
    font-size: 18px;
    font-weight: 500;
}
</style>