


<select id="first" style="width: 100%; display: inline-block"></select>


<script>
$(document).ready(function () {
	console.log("asd");
	// $.fn.modal.Constructor.prototype.enforceFocus = function() {};
	var first, mid, last;

	$('#first').select2({
		placeholder: 'First Name',
		minimumInputLength: 1,
		ajax: {
			url: "{% url 'actions/get-filtered-patient-names' %}",
			data: function (params) {
				var data = {
					term: params.term,
				};
				console.log('data', data);
				return data;
			},
			processResults: function (data) {
				console.log(data);
				// Tranforms the top-level key of the response object from 'items' to 'results'
				return {
					results: data.map(p => {
						return {
							id: p.pk,
							text: p.last_name + ', ' + p.first_name + ' ' + p.middle_initial + '.',
						}

					})
				};
			}
		}
	});
});

</script>
