{% extends 'main/base.html' %}

{% block title %}Home{% endblock title %}

{% load staticfiles %}
        
{% block page_titleicon %}
    <link rel="icon" type="image/png" href="{% static 'images/icons/home_titleicon.png' %}">
{% endblock page_titleicon %}

{% block page_stylesheet %}
    <link rel="stylesheet" href="{% static 'css/home-body.css' %}">
    <link rel="stylesheet" href="{% static 'css/date.css' %}">
{% endblock page_stylesheet %}

{% block nav_bar %}
    <li class="active"><a href="{% url 'home' %}">Home</a></li>
    <li><a href="{% url 'rooms' %}">Rooms</a></li>
    <li><a href="{% url 'patients' %}">Patients</a></li>
    <li><a href="{% url 'summary' %}">Summary</a></li>
    <li><a href="{% url 'inquiry' %}">Inquiry</a></li>
{% endblock nav_bar %}

{% block page_body %}
<div class="home">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="home_subtitle">Occupancy Status</div>
                <div class="home_title">House of Hope Foundation</div>
            </div>
            <div class="col">
                <div class="date-container">
                    <div class="row">
                        <div class="col">
                            <div class="day"><span id="theDay"></span></div>
                        </div>
                        <div class="col">
                            <div class="day-week"><span id="theDayWeek"></span></div>
                            <div class="month-year"><span id="theMonthYear"></span></div>
                        </div>		
                    </div>
                </div>
            </div>
            <div class="w-100"></div>
            <div class="col">
                <div class="progress_bar-container">
                    <div id="progress_bar"></div>
                </div>
            </div>
            <div class="col">
                <div class="counter">
                    <div class="row">
                        <div class="col">
                            <div class="counter_name">
                                Patients
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="counter_name cname-two">
                                Boys
                            </div>
                        </div>
                        <div class="milestone_content cnum-two col">
                            <div class="milestone_counter counter_num cnum-two" data-end-value="15">
                                0
                            </div>
                        </div>
                        <div class="milestone_content cnum-two col">
                            <div class="counter_num  cnum-one">
                                <div class="milestone_counter rowspanned" data-end-value="20">
                                    0
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="counter_name cname-two">
                                Girls
                            </div>
                        </div>
                        <div class="milestone_content cnum-two col">
                            <div class="milestone_counter counter_num cnum-two" data-end-value="5">
                                0
                            </div>
                        </div>
                        <div class="col">
                            <div class="counter_num cnum-one">
                                <div class="rowspanned">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="counter_name">
                                Watchers
                            </div>
                        </div>
                    </div>
                    <div class="row">
                    <div class="milestone_content cnum-two col">
                        <div class="col">
                            <div class="milestone_counter" data-end-value="26">0</div>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock page_body %}

{% block page_js %}
    <script src="{% static 'js/jquery.js' %}"></script> <!-- Should be placed first -->
    <script src="{% static 'js/date.js' %}"></script>
    <script src="{% static 'js/progressbar.js' %}"></script>
{% endblock page_js %}