{% extends 'main/base.html' %}

{% block title %}Home{% endblock title %}

{% load staticfiles %}
        
{% block page_titleicon %}
    <link rel="icon" type="image/png" href="{% static 'images/icons/home_titleicon.png' %}">
{% endblock page_titleicon %}

{% block page_stylesheet %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock page_stylesheet %}

{% block nav_bar %}
    <li class="nav-item active"><a class="nav-link" href="{% url 'home' %}">Home</a></li>
                    
	<li class="nav-item dropdown">
		<a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown">Rooms</a>
		<div class="dropdown-menu dropdown-menu-right">
			<a class="nav-link" href="{% url 'rooms/main' %}">Main</a>
			<a class="nav-link" href="{% url 'rooms/annex' %}">Annex</a>
		</div>
	</li>
	
	<li class="nav-item"><a class="nav-link" href="{% url 'patients' %}">Patients</a></li>
	
	<li class="nav-item dropdown">
		<a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown">Summary</a>
		<div class="dropdown-menu dropdown-menu-right">
			<a class="nav-link" href="{% url 'summary/monthly' %}">Monthly</a>
			<a class="nav-link" href="{% url 'summary/daily' %}">Daily</a>
		</div>
	</li>
	
	<li class="nav-item dropdown">
		<a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown">Inquiry</a>
		<div class="dropdown-menu dropdown-menu-right">
			<a class="nav-link" href="{% url 'inquiry/filter' %}">Filter</a>
			<a class="nav-link" href="{% url 'inquiry/sort' %}">Sort</a>
		</div>
	</li>
{% endblock nav_bar %}

{% block page_body %}
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-6 home-container">
            <div class="home_subtitle">Occupancy Status</div>
            <div class="home_title">House of Hope Foundation</div>
        </div>
        <div class="col-lg-6 date-container">
            <div class="row">
                <div class="col-lg-6 text-right">
                    <div class="day" id="theDay">{{ today.day }}</div>
                </div>
                <div class="col-lg-6">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="day-week" id="theDayWeek">{{ today.weekday }}</div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="month-year" id="theMonthYear">{{ today.monthname }} {{ today.year }}</div> 
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row text-center">
        <div class="col-lg-6 progress_bar-container">
            <div id="progress_bar"></div>
        </div>
        <div class="col-lg-6 counter-container">
            <div class="row">
                <div class="col-lg-12 cname">Patients</div>
            </div>
            <div class="row">
                <div class="col-lg-8">
                    <div class="row">
                        <div class="col-lg-6 cname">Boys</div>
                        <div class="col-lg-6 cnum-2 milestone_counter" data-end-value="{{count.boys}}">0</div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 cname">Girls</div>
                        <div class="col-lg-6 cnum-2 milestone_counter" data-end-value="{{count.girls}}">0</div>
                    </div>
                </div>
                <div class="col-lg-4 cnum-1 milestone_counter" data-end-value="{{count.total}}">0</div>
            </div>
            <div class="row">
                <div class="col-lg-12 cname">Watchers</div>
            </div>
            <div class="row">
                <div class="col-lg-12 cnum-1 milestone_counter" data-end-value="{{count.watchers}}">0</div>
            </div>
        </div>
    </div>
</div>
{% endblock page_body %}

{% block page_js %}
    <script src="{% static 'js/progressbar.js' %}"></script>  
    <script src="{% static 'js/plugins/TweenMax.js' %}"></script>
	<script src="{% static 'js/plugins/ScrollMagic.js' %}"></script>
	<script src="{% static 'js/counter.js' %}"></script>
{% endblock page_js %}