{% extends 'main/base.html' %}

{% block title %}Inquiry{% endblock title %}

{% load staticfiles %}
        
{% block page_titleicon %}
    <link rel="icon" type="image/png" href="{% static 'images/icons/inquiry_titleicon.png' %}">
{% endblock page_titleicon %}

{% block nav_bar %}
    <li><a href="{% url 'home' %}">Home</a></li>
    <li><a href="{% url 'rooms' %}">Rooms</a></li>
    <li><a href="{% url 'patients' %}">Patients</a></li>
    <li><a href="{% url 'summary' %}">Summary</a></li>
    <li class="active"><a href="{% url 'inquiry' %}">Inquiry</a></li>
{% endblock nav_bar %}