{% extends 'main/base.html' %}

{% block title %}Inquiry{% endblock title %}

{% load staticfiles %}
        
{% block page_titleicon %}
    <link rel="icon" type="image/png" href="{% static 'images/icons/inquiry_titleicon.png' %}">
{% endblock page_titleicon %}

{% block page_stylesheet %}
	<link rel="stylesheet" href="{% static 'css/inquiry.css' %}">
{% endblock page_stylesheet %}

{% block nav_bar %}
    <li class="nav-item"><a class="nav-link" href="{% url 'home' %}">Home</a></li>
                    
	<li class="nav-item dropdown">
		<a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown">Rooms</a>
		<div class="dropdown-menu dropdown-menu-right">
			<a class="nav-link" href="{% url 'rooms/main' %}">Main</a>
			<a class="nav-link" href="{% url 'rooms/annex' %}">Annex</a>
		</div>
	</li>
	
	<li class="nav-item"><a class="nav-link" href="{% url 'patients' %}">Patients</a></li>
	
	<li class="nav-item dropdown">
		<a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown">Summary</a>
		<div class="dropdown-menu dropdown-menu-right">
			<a class="nav-link" href="{% url 'summary/monthly' %}">Monthly</a>
			<a class="nav-link" href="{% url 'summary/daily' %}">Daily</a>
		</div>
	</li>
	
	<li class="nav-item dropdown">
		<a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown">Inquiry</a>
		<div class="dropdown-menu dropdown-menu-right">
			<a class="nav-link" href="{% url 'inquiry/part1' %}">Part 1</a>
			<a class="nav-link active" href="{% url 'inquiry/part2' %}">Part 2</a>
		</div>
	</li>
{% endblock nav_bar %}

{% block page_body %}
<div class="container-fluid">
	<div class="row">
		<div class="col-lg-6">
			<div class="filter-container">
				<div class="filter-wrap">
					<div class="filter-content">
						<div class="filter-header filter-title">
							Filter
						</div>
						<form method="post" action="">
							<div class="filter-body">
								{% csrf_token %}
								<div class="row">
									Date of Stay
								</div>
								<div class="row">
									<div class="col-lg-6">
										From
										{{ form.date_from }}
									</div>
									<div class="col-lg-6">
										To
										{{ form.date_to }}
									</div>
								</div>
								<div class="row">
									<div class="col-lg-4">
										{{ form.patient }}
									</div>
									<div class="col-lg-4">
										{{ form.watcher }}
									</div>
									<div class="col-lg-4">
										{{ form.building }}
									</div>
								</div>
								<div class="row">
									<div class="col-lg-12">
										{{ form.diagnosis }}
									</div>
								</div>
								<div class="row">
									<div class="col-lg-4">
										{{ form.region }}
									</div>
									<div class="col-lg-4">
										{{ form.province }}
									</div>
									<div class="col-lg-4">
										{{ form.city }}
									</div>
								</div>
							</div>
							<div class="filter-footer">
								<button type="submit" class="btn btn-success">
									<span>
										Search
										<i class="fa fa-search" aria-hidden="true"></i>
									</span>
								</button>
								<button type="button" class="btn btn-danger" data-dismiss="modal">
									<span>
										Clear
										<i class="fa fa-undo" aria-hidden="true"></i>
									</span>
								</button>
							</div>
						</form> 
					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-6">
			<div class="results-container">
				<div class="results-wrap text-center">
					<div class="row">
						<div class="col-lg-12">
							Date
							{{ result.date_from }} - {{ result.date_to }}
						</div>
					</div>
					<div class="row">
						<div class="col-lg-12">
							Diagnosis
							{{ result.diagnosis }}
						</div>
					</div>
					<div class="row">
						<div class="col-lg-4">
							Region
							{{ result.region }}
						</div>
						<div class="col-lg-4">
							Province
							{{ result.province }}
						</div>
						<div class="col-lg-4">
							City
							{{ result.city }}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock page_body %}