{% extends 'main/base.html' %}

{% block title %}Inquiry{% endblock title %}

{% load staticfiles %}
        
{% block page_titleicon %}
    <link rel="icon" type="image/png" href="{% static 'images/icons/inquiry_titleicon.png' %}">
{% endblock page_titleicon %}

{% block page_stylesheet %}
	<link rel="stylesheet" href="{% static 'css/inquiry.css' %}">
{% endblock page_stylesheet %}

{% block nav_bar %}
    <li class="nav-item"><a class="nav-link" href="{% url 'home' %}">Home</a></li>
                    
	<li class="nav-item dropdown">
		<a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown">Rooms</a>
		<div class="dropdown-menu dropdown-menu-right">
			<a class="nav-link" href="{% url 'rooms/main' %}">Main</a>
			<a class="nav-link" href="{% url 'rooms/annex' %}">Annex</a>
		</div>
	</li>
	
	<li class="nav-item"><a class="nav-link" href="{% url 'patients' %}">Patients</a></li>
	
	<li class="nav-item dropdown">
		<a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown">Summary</a>
		<div class="dropdown-menu dropdown-menu-right">
			<a class="nav-link" href="{% url 'summary/monthly' %}">Monthly</a>
			<a class="nav-link" href="{% url 'summary/daily' %}">Daily</a>
		</div>
	</li>
	
	<li class="nav-item dropdown">
		<a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown">Inquiry</a>
		<div class="dropdown-menu dropdown-menu-right">
			<a class="nav-link active" href="{% url 'inquiry/filter' %}">Filter</a>
			<a class="nav-link" href="{% url 'inquiry/sort' %}">Sort</a>
		</div>
	</li>
{% endblock nav_bar %}

{% block page_body %}
<div class="container-fluid">
	<div class="row">
		<div class="col-lg-6">
			<div class="filter-container">
				<div class="filter-wrap">
					<div class="filter-content">
						<div class="filter-header filter-title">
							Filter
						</div>
						<form method="post" action="">
							<div class="filter-body">
								{% csrf_token %}
								<div class="row">
									Date of Stay
								</div>
								<div class="row">
									<div class="col-lg-6">
										From
										{{ form.date_from }}
									</div>
									<div class="col-lg-6">
										To
										{{ form.date_to }}
									</div>
								</div>
								<div class="row">
									<div class="col-lg-12">
										{{ form.diagnosis }}
									</div>
								</div>
								<div class="row">
									<div class="col-lg-4">
										{{ form.region }}
									</div>
									<div class="col-lg-4">
										{{ form.province }}
									</div>
									<div class="col-lg-4">
										{{ form.city }}
									</div>
								</div>
							</div>
							<div class="filter-footer">
								<button type="submit" class="btn btn-success">
									<span>
										Search
										<i class="fa fa-search" aria-hidden="true"></i>
									</span>
								</button>
								<button type="button" class="btn btn-danger" data-dismiss="modal">
									<span>
										Clear
										<i class="fa fa-undo" aria-hidden="true"></i>
									</span>
								</button>
							</div>
						</form> 
					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-6">
			<div class="results-container">
				<div class="results-wrap text-center">
					<div class="row">
						<div class="col-lg-12">
							Date
							{{ result.date_from }} - {{ result.date_to }}
						</div>
					</div>
					<div class="row">
						<div class="col-lg-12">
							Diagnosis
							{{ result.diagnosis }}
						</div>
					</div>
					<div class="row">
						<div class="col-lg-4">
							Region
							{{ result.region }}
						</div>
						<div class="col-lg-4">
							Province
							{{ result.province }}
						</div>
						<div class="col-lg-4">
							City
							{{ result.city }}
						</div>
					</div>
					<table class="table">
						<thead>
							<tr class="table-head">
								<th class="f-col-1"></th>
								<th class="f-col-2">Both Bldgs</th>
								<th class="f-col-3">Main</th>
								<th class="f-col-4">Annex</th>
							</tr>
						</thead>

						<tbody">
							<tr>
								<td class="f-col-1">Patients</td>
								<td class="f-col-2">1</td>
								<td class="f-col-3">2</td>
								<td class="f-col-4">3</td>
							</tr>
							<tr>
								<td class="f-col-1">Boys</td>
								<td class="f-col-2">4</td>
								<td class="f-col-3">5</td>
								<td class="f-col-4">6</td>
							</tr>
							<tr>
								<td class="f-col-1">Girls</td>
								<td class="f-col-2">7</td>
								<td class="f-col-3">8</td>
								<td class="f-col-4">9</td>
							</tr>
							<tr>
								<td class="f-col-1">Watchers</td>
								<td class="f-col-2">10</td>
								<td class="f-col-3">11</td>
								<td class="f-col-4">12</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>

<script src="{% static 'js/jquery.js' %}"></script>
<script>
$(document).ready(function() {
	let reg = $('select[name=region]');
	let prov = $('select[name=province]');
	let city = $('select[name=city]');

    let provinces = prov.children('option').detach();
    let cities = city.children('option').detach();

    function resetProv(){
        prov.children('option').detach();
        prov.append(provinces[0]);
        prov.val('');
        resetCity();
    }
    function resetCity(){
        city.children('option').detach();
        city.append(cities[0]);
        city.val('');
    }

    function doFilter(options, select, filter) {
        if (filter === '') return;
        options.filter((index, element) => {
            let val = $(element).val();
            return val.startsWith(filter) || val === '';
        }).appendTo(select);
        select.val('');
    }

	reg.change(function() {
		let filter = $(this).val();
        resetProv();
        doFilter(provinces, prov, filter);
	});
    prov.change(function() {
		let filter = $(this).val();
        resetCity();
        doFilter(cities, city, filter);
	});

    resetProv();
	
	var diagnosis = JSON.parse("{{diagnosis | escapejs}}".replace(/'/g, '"'));
	console.log(diagnosis);
	let dropdown = document.getElementById('id_diagnosis');
	
	diagnosis.forEach(arrayopt);
	function arrayopt(diagnosis){
		let option = document.createElement('option'); // create option element
		option.value = diagnosis[0]; // assign id/value
		option.innerText = diagnosis[1]; // assign text
		dropdown.appendChild(option); // add option to dropdown
	}
});
</script>
{% endblock page_body %}