{% extends 'main/base.html' %}

{% block title %}Inquiry{% endblock title %}

{% load staticfiles %}
        
{% block page_titleicon %}
    <link rel="icon" type="image/png" href="{% static 'images/icons/inquiry_titleicon.png' %}">
{% endblock page_titleicon %}

{% block page_stylesheet %}
	<link rel="stylesheet" href="{% static 'css/inquiry.css' %}">
{% endblock page_stylesheet %}

{% block nav_bar %}
    <li class="nav-item"><a class="nav-link" href="{% url 'home' %}">Home</a></li>
                    
	<li class="nav-item dropdown">
		<a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown">Rooms</a>
		<div class="dropdown-menu dropdown-menu-right">
			<a class="nav-link" href="{% url 'rooms/main' %}">Main</a>
			<a class="nav-link" href="{% url 'rooms/annex' %}">Annex</a>
		</div>
	</li>
	
	<li class="nav-item"><a class="nav-link" href="{% url 'patients' %}">Patients</a></li>
	
	<li class="nav-item dropdown">
		<a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown">Summary</a>
		<div class="dropdown-menu dropdown-menu-right">
			<a class="nav-link" href="{% url 'summary/monthly' %}">Monthly</a>
			<a class="nav-link" href="{% url 'summary/daily' %}">Daily</a>
		</div>
	</li>
	
	<li class="nav-item dropdown">
		<a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown">Inquiry</a>
		<div class="dropdown-menu dropdown-menu-right">
			<a class="nav-link" href="{% url 'inquiry/filter' %}">Filter</a>
			<a class="nav-link active" href="{% url 'inquiry/sort' %}">Sort</a>
		</div>
	</li>
{% endblock nav_bar %}

{% block page_body %}
<div class="container-fluid">
	<div class="row">
		<div class="col-lg-6">
			<div class="filter-container">
				<div class="filter-wrap">
					<div class="filter-content">
						<div class="filter-header filter-title">
							Sort
						</div>
						<form method="post" action="">
							<div class="filter-body">
								{% csrf_token %}
								<div class="row">
									Date of Stay
								</div>
								<div class="row">
									<div class="col-lg-6">
										From
										{{ form.date_from }}
									</div>
									<div class="col-lg-6">
										To
										{{ form.date_to }}
									</div>
								</div>
								<div class="row">
									<div class="col-lg-12 mt-3">
										{{ form.diagnosis }}
									</div>
								</div>
								<div class="row">
									<div class="col-lg-12">
										{{ form.region }}
									</div>
								</div>
							</div>
							<div class="filter-footer">
								<button type="submit" class="btn btn-success">
									<span>
										Sort
										<i class="fa fa-sort" aria-hidden="true"></i>
									</span>
								</button>
								<button type="button" class="btn btn-danger" data-dismiss="modal">
									<span>
										Clear
										<i class="fa fa-undo" aria-hidden="true"></i>
									</span>
								</button>
							</div>
						</form> 
					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-6">
			<div class="results-container">
				<div class="results-wrap text-center">
					<div class="row">
						<div class="col-lg-12">
							Date
							{{ result.date_from }} - {{ result.date_to }}
						</div>
					</div>
					<div class="row">
						<div class="col-lg-12">
							Diagnosis
							{{ result.diagnosis }}
						</div>
					</div>
					<div class="row">
						<div class="col-lg-12">
							Region
							{{ result.region }}
						</div>	
					</div>
				</div>
				<table class="table text-center">
					<thead>
						<tr class="table-head">
							<th class="s-col-1"></th>
							<th class="s-col-2">Number of Patients</th>
						</tr>
					</thead>

					<tbody>
						{% for patient in patients %}
						<tr>
							<td class="s-col-1">Diagnosis 1</td>
							<td class="s-col-2">20</td>
						</tr>
						{% endfor %}
					</tbody>
                </table>
			</div>
		</div>
	</div>
</div>
{% endblock page_body %}