{% extends 'main/base.html' %}

{% block title %}Patients{% endblock title %}

{% load staticfiles %}
        
{% block page_titleicon %}
    <link rel="icon" type="image/png" href="{% static 'images/icons/patients_titleicon.png' %}">
{% endblock page_titleicon %}

{% block page_stylesheet %}
    <link rel="stylesheet" href="{% static 'css/patients.css' %}">
    <link rel="stylesheet" href="{% static 'css/table.css' %}">
{% endblock page_stylesheet %}

{% block nav_bar %}
    <li><a href="{% url 'home' %}">Home</a></li>
    <li><a href="{% url 'rooms' %}">Rooms</a></li>
    <li class="active"><a href="{% url 'patients' %}">Patients</a></li>
    <li><a href="{% url 'summary' %}">Summary</a></li>
    <li><a href="{% url 'inquiry' %}">Inquiry</a></li>
{% endblock nav_bar %}

{% block page_body %}
<div class="body">
    <div class="p-header-cont">
        <div class="p-header-wrap patient_search">
            a
        </div>
        <div class="p-header-wrap patient_add">
            b
        </div>
    </div>  
    <div class="table-body">
        <table id="patient_table" class="table">
            <thead class="text-center">
                <tr class="tr_head">
                    <th>LAST NAME</th>
                    <th>FIRST NAME</th>
                    <th>MIDDLE INITIAL</th>
                </tr>
            </thead>
            <tbody>
                {% for patient in patients %}
                <tr><td>{{ patient.last_name }}</td><td>{{patient.first_name}}</td><td class="text-center">{{patient.middle_initial}}</td></tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock page_body %}