{% extends 'main/base.html' %}

{% block title %}Patients{% endblock title %}

{% load staticfiles %}



{% load location %}
        
{% block page_titleicon %}
    <link rel="icon" type="image/png" href="{% static 'images/icons/patients_titleicon.png' %}">
{% endblock page_titleicon %}

{% block page_stylesheet %}
    <link rel="stylesheet" href="{% static 'css/patients.css' %}">
    <link rel="stylesheet" href="{% static 'css/patients-table.css' %}">
    <link rel="stylesheet" href="{% static 'css/patients-form.css' %}">
	<link rel="stylesheet" href="{% static 'css/plugins/DataTables.css' %}">
{% endblock page_stylesheet %}

{% block nav_bar %}
    <li class="nav-item"><a class="nav-link" href="{% url 'home' %}">Home</a></li>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown">Rooms</a>
        <div class="dropdown-menu dropdown-menu-right">
            <a class="nav-link" href="{% url 'rooms' %}">Main</a>
            <a class="nav-link" href="{% url 'rooms' %}">Annex</a>
        </div>
    </li>
    <li class="nav-item active"><a class="nav-link" href="{% url 'patients' %}">Patients</a></li>
    <li class="nav-item"><a class="nav-link" href="{% url 'summary' %}">Summary</a></li>
    <li class="nav-item"><a class="nav-link" href="{% url 'inquiry' %}">Inquiry</a></li>
{% endblock nav_bar %}

{% block page_body %}
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <div class="patient_add-container">
            
                <button type="button" class="btn btn-outline-dark" data-toggle="modal" data-target="#PatientsModal">
                    <i class="fa fa-plus" aria-hidden="true"></i>
                    Add New Patient
                </button>
                
                <div class="modal" id="PatientsModal">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header modal-title">
                                Patient Information
                            </div>
                            <form method="post" action="{% url 'forms/create-patient' %}">
                                <div class="modal-body">
                                    {% csrf_token %}
                                    <div class="row">
                                        <div class="col-lg-5">
                                            {{ form.last_name }}
                                        </div>
                                        <div class="col-lg-5">
                                            {{ form.first_name }}
                                        </div>
                                        <div class="col-lg-2">
                                            {{ form.middle_initial }}
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-6">
                                            {{ form.age }}
                                        </div>
                                        <div class="col-lg-6">
                                            {{ form.sex }}
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-12">
                                            {{ form.diagnosis }}
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-4">
                                            {{ form.region }}
                                        </div>
                                        <div class="col-lg-4">
                                            {{ form.province }}
                                        </div>
                                        <div class="col-lg-4">
                                            {{ form.city }}
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="submit" class="btn btn-success">
                                        <span>
                                            Save
                                            <i class="fa fa-save" aria-hidden="true"></i>
                                        </span>
                                    </button>
                                    <button type="button" class="btn btn-danger" data-dismiss="modal">
                                        <span>
                                            Cancel
                                            <i class="fa fa-window-close" aria-hidden="true"></i>
                                        </span>
                                    </button>
                                </div>
                            </form> 
                        </div>
                    </div>
                </div>   
                
            </div>
        </div>
    </div>
    <div class="row">
        <div class="container-table">
            <div class="wrap-table">
				<div class="row">
					<div class="col-lg-6">
					</div>
					<div class="col-lg-6">
					</div>
				</div>
			
                <table class="table" id="table">
                
                <thead>
                    <tr class="table-head">
                        <th class="col-1" onclick="sortTable(0)">Last Name</th>
                        <th class="col-2" onclick="sortTable(1)">First Name</th>
                        <th class="col-3" onclick="sortTable(0)">Middle Initial</th>
                    </tr>
                </thead>

                <tbody id="app">
                    {% for patient in patients %}
                    <tr>
                        <td class="col-1">{{ patient.last_name }}</td>
                        <td class="col-2">{{ patient.first_name }}</td>
                        <td class="col-3">{{ patient.middle_initial }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
                
                </table>
				
				<div class="modal" id="PatientsInfoModal">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
							
							<div class="modal-body">
								<div class="row">
									<div class="col-lg-12">
										Name: {{ patient.last_name }}, {{ patient.first_name }} {{ patient.middle_initial }}.
									</div>
								</div>
								<div class="row">
									<div class="col-lg-12">
										Age: {{ patient.age }}
									</div>
								</div>
								<div class="row">
									<div class="col-lg-12">
										Sex: {{ patient.sex }}
									</div>
								</div>
								<div class="row">
									<div class="col-lg-12">
										Address: {{ patient.region }} | {{ patient.province }} | {{ patient.city }}
									</div>
								</div>
								<div class="row">
									<div class="col-lg-12">
										Diagnosis: {{ patient.diagnosis }}
									</div>
								</div>
								<div class="row">
									<div class="col-lg-12">
										Total No. of Days: {{ patient.total_days }}
									</div>
								</div>
								<div class="row">
									<div class="col-lg-12">
										Frequency: {{ patient.frequency }}
									</div>
								</div>
								<div class="row">
									<div class="col-lg-12">
										Date/s of Stay
										<div class="row">
											<div class="col-lg-6">
												From
											</div>
											<div class="col-lg-6">
												To
											</div>
										</div>
										{% for dates in patients_stay %}
										<div class="row">
											<div class="col-lg-6">
												{{ patient.date_from }}
											</div>
											<div class="col-lg-6">
												{{ patient.date_to }}
											</div>
										</div>
										{% endfor %}
									</div>
								</div>
							</div>
							
							<div class="modal-footer">
								<button type="button" class="btn btn-danger" data-dismiss="modal">
									<span>
										Close
										<i class="fa fa-window-close" aria-hidden="true"></i>
									</span>
								</button>
							</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="{% static 'js/jquery.js' %}"></script>
<script>
$(document).ready(function() {
	let reg = $('select[name=region]');
	let prov = $('select[name=province]');
	let city = $('select[name=city]');

    let provinces = prov.children('option').detach();
    let cities = city.children('option').detach();

    function resetProv(){
        prov.children('option').detach();
        prov.append(provinces[0]);
        prov.val('');
        resetCity();
    }
    function resetCity(){
        city.children('option').detach();
        city.append(cities[0]);
        city.val('');
    }

    function doFilter(options, select, filter) {
        if (filter === '') return;
        options.filter((index, element) => {
            let val = $(element).val();
            return val.startsWith(filter) || val === '';
        }).appendTo(select);
        select.val('');
    }

	reg.change(function() {
		let filter = $(this).val();
        resetProv();
        doFilter(provinces, prov, filter);
	});
    prov.change(function() {
		let filter = $(this).val();
        resetCity();
        doFilter(cities, city, filter);
	});

    resetProv();
});

</script>
{% endblock page_body %}

{% block page_js %}
	<script src="{% static 'js/row-click.js' %}"></script>
	<script src="{% static 'js/plugins/DataTables.js' %}"></script>
{% endblock page_js %}