{% extends 'main/base.html' %}

{% block title %}Rooms{% endblock title %}

{% load staticfiles %}
        
{% block page_titleicon %}
    <link rel="icon" type="image/png" href="{% static 'images/icons/rooms_titleicon.png' %}">
{% endblock page_titleicon %}

{% block page_stylesheet %}
    <link rel="stylesheet" href="{% static 'css/rooms.css' %}">
    <link rel="stylesheet" href="{% static 'css/rooms-table.css' %}">
	<link rel="stylesheet" href="{% static 'css/rooms-form.css' %}">
{% endblock page_stylesheet %}

{% block nav_bar %}
    <li class="nav-item"><a class="nav-link" href="{% url 'home' %}">Home</a></li>
                    
	<li class="nav-item dropdown">
		<a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown">Rooms</a>
		<div class="dropdown-menu dropdown-menu-right">
		{% if building == "main" %}
			<a class="nav-link active" href="{% url 'rooms/main' %}">Main</a>
			<a class="nav-link" href="{% url 'rooms/annex' %}">Annex</a>
		{% elif building == "annex" %}
			<a class="nav-link" href="{% url 'rooms/main' %}">Main</a>
			<a class="nav-link active" href="{% url 'rooms/annex' %}">Annex</a>
		{% endif %}
		</div>
	</li>
	
	<li class="nav-item"><a class="nav-link" href="{% url 'patients' %}">Patients</a></li>
	
	<li class="nav-item dropdown">
		<a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown">Summary</a>
		<div class="dropdown-menu dropdown-menu-right">
			<a class="nav-link" href="{% url 'summary/monthly' %}">Monthly</a>
			<a class="nav-link" href="{% url 'summary/daily' %}">Daily</a>
		</div>
	</li>
	
	<li class="nav-item dropdown">
		<a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown">Inquiry</a>
		<div class="dropdown-menu dropdown-menu-right">
			<a class="nav-link" href="{% url 'inquiry/filter' %}">Filter</a>
			<a class="nav-link" href="{% url 'inquiry/sort' %}">Sort</a>
		</div>
	</li>
{% endblock nav_bar %}

{% block nav_bar_right %}
	<ul class="nav navbar-nav flex-row justify-content-center flex-nowrap">
		<button type="submit" onclick="getdate()" class="btn btn-success mr-2">
			<i class="fa fa-save" aria-hidden="true"></i>
			Save Day
		</button>
		<button type="button" class="btn btn-outline-secondary">
			<i class="fa fa-power-off" aria-hidden="true"></i>
			Logout
		</button>
	</ul>
{% endblock nav_bar_right %}

{% block page_body %}
<div class="container-fluid">
	<div class="row">
		<div class="col-lg-12 room-title-container">
			<div class="room-title text-center">
				{{ building }}
			</div>
		</div>
	</div>
    <div class="row">
        <div class="col-lg-12 date-container">
            <div class="row">
                <div class="col-lg-6 text-right">
                    <div class="day">{{ day }}</div>
                </div>
                <div class="col-lg-6">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="day-week">{{ weekday }}</div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="month-year">{{ month_name }} {{ year }}</div> 
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row text-center">
        <div class="col-lg-12 counter-container">
            <div class="row">
                <div class="col-lg-6 cname">Patients</div>
                <div class="col-lg-6 cname">Watchers</div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="row">
                                <div class="col-lg-6 cname">Boys</div>
                                <div class="col-lg-6 cnum-2">{{ count.boys }}</div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6 cname">Girls</div>
                                <div class="col-lg-6 cnum-2">{{ count.girls }}</div>
                            </div>
                        </div>
                        <div class="col-lg-6 cnum-1">{{ count.total }}</div>
                    </div>
                </div>
                <div class="col-lg-6 cnum-1">{{ count.watchers }}</div>
            </div>
        </div>
    </div>
	<div class="row text-center">
		<div class="col-lg-4">
			<button type="button" class="btn btn-outline-dark" data-toggle="modal" data-target="#AssignRoomModal">
				<i class="fa fa-plus" aria-hidden="true"></i>
				Assign to Room
			</button>
		</div>
		<div class="col-lg-4">
			<button type="button" class="btn btn-outline-dark" data-toggle="modal" data-target="#TransferRoomModal">
				<i class="fa fa-exchange" aria-hidden="true"></i>
				Transfer Room
			</button>
		</div>
		<div class="col-lg-4">
			<button type="button" class="btn btn-outline-dark" data-toggle="modal" data-target="#CheckoutRoomModal">
				<i class="fa fa-minus" aria-hidden="true"></i>
				Checkout
			</button>
		</div>
		
		<div class="modal" id="AssignRoomModal">
			<div class="modal-dialog modal-dialog-centered">
				<div class="modal-content">
					<div class="modal-header modal-title">
						Assign to Room
					</div>
					<form id="assign_room" method="post" action="{% url 'action/assign-room' %}">
						<div class="modal-body">
							{% csrf_token %}
							<div class="row">
								<div class="col-lg-4">
									{{ form.room_num }}
								</div>
							</div>
							<div class="row">
								<div class="col-lg-5">
									{{ form.last_name }}
								</div>
								<div class="col-lg-5">
									{{ form.first_name }}
								</div>
								<div class="col-lg-2">
									{{ form.middle_initial }}
								</div>
							</div>
							<div class="row text-left">
								<div class="col-lg-12">
									<div class="form-label">Relationship</div>
									{{ form.relationship }}
								</div>
							</div>
							<div class="row text-left">
								<div class="col-lg-6">
									<div class="form-label">Date (From)</div>
									{{ form.date_from }}
								</div>
								<div class="col-lg-6">
									<div class="form-label">Date (To)</div>
									{{ form.date_to }}
								</div>
							</div>
						</div>
						<div class="modal-footer">
							<button type="submit" class="btn btn-success">
								<span>
									Assign
									<i class="fa fa-plus" aria-hidden="true"></i>
								</span>
							</button>
							<button type="button" class="btn btn-danger" data-dismiss="modal">
								<span>
									Cancel
									<i class="fa fa-window-close" aria-hidden="true"></i>
								</span>
							</button>
						</div>
					</form> 
				</div>
			</div>
		</div>
		
		<div class="modal" id="TransferRoomModal">
			<div class="modal-dialog modal-dialog-centered">
				<div class="modal-content">
					<div class="modal-header modal-title">
						Transfer Room
					</div>
					<form id="transfer_room" method="post" action="">
						<div class="modal-body">
							{% csrf_token %}
							<div class="row">
								<div class="col-lg-4">
									{{ form.room_num_transfer }}
								</div>							
							</div>
							<div class="row">
								<div class="col-lg-5">
									{{ form.last_name }}
								</div>
								<div class="col-lg-5">
									{{ form.first_name }}
								</div>
								<div class="col-lg-2">
									{{ form.middle_initial }}
								</div>
							</div>
						</div>
						<div class="modal-footer">
							<button type="submit" class="btn btn-success">
								<span>
									Transfer
									<i class="fa fa-exchange" aria-hidden="true"></i>
								</span>
							</button>
							<button type="button" class="btn btn-danger" data-dismiss="modal">
								<span>
									Cancel
									<i class="fa fa-window-close" aria-hidden="true"></i>
								</span>
							</button>
						</div>
					</form> 
				</div>
			</div>
		</div>
		
		<div class="modal" id="CheckoutRoomModal">
			<div class="modal-dialog modal-dialog-centered">
				<div class="modal-content">
					<div class="modal-header modal-title">
						Checkout Patient
					</div>
					<form id="checkout" method="post" action="{% url 'action/checkout' %}">
						<div class="modal-body">
							{% csrf_token %}
							<div class="row">
								<div class="col-lg-5">
									{{ form.last_name }}
								</div>
								<div class="col-lg-5">
									{{ form.first_name }}
								</div>
								<div class="col-lg-2">
									{{ form.middle_initial }}
								</div>
							</div>
						</div>
						<div class="modal-footer">
							<button type="submit" class="btn btn-success">
								<span>
									Checkout
									<i class="fa fa-minus" aria-hidden="true"></i>
								</span>
							</button>
							<button type="button" class="btn btn-danger" data-dismiss="modal">
								<span>
									Cancel
									<i class="fa fa-window-close" aria-hidden="true"></i>
								</span>
							</button>
						</div>
					</form> 
				</div>
			</div>
		</div>
	</div>
    <div class="row">
        <div class="container-table">
            <div class="wrap-table">
                <table class="table" id="table">
                
                <thead>
                    <tr class="table-head text-center">
                        <th class="col-1">Room #</th>
                        <th class="col-2">Patient's Name</th>
                        <th class="col-3">No. of Watcher(s)</th>
                        <th class="col-4">Relationship(s)</th>
                        <th class="col-5">Date of Stay</th>
                    </tr>
                </thead>

                <tbody>
					{% comment %}
                    {% for room in rooms %}
                    <tr>
                        <td class="col-1">{{ room.room.display_name }}</td>
                        <td class="col-2">{{ room.patient.last_name }}, {{ room.patient.first_name }} {{ room.patient.middle_initial }}.</td>
                        <td class="col-3">{{ room.watchers.count }}</td>
                        <td class="col-4">{{ room.watchers.list }}</td>
                        <td class="col-5">{{ room.date_of_stay.start}} - {{ room.date_of_stay.end}}</td>
                    </tr>
					{% endfor %} 
					{% endcomment %}
                </tbody>
                
                </table>
            </div>
        </div>
    </div>
</div>

<script>

function sleep(ms) {
  return new Promise(resolve => setTimeout(resolve, ms));
}

window.onload = function() {

    // add building to forms
    function addBuildingAndDate(formId) {
        let form = document.getElementById(formId);
        let building = document.createElement("input");
        building.setAttribute("type", "hidden");
        building.setAttribute("name", "building_name");
        building.setAttribute("value", "{{building}}");
        form.appendChild(building);
        <!-- let form = document.getElementById('formId'); -->
        let date = document.createElement("input");
        date.setAttribute("type", "hidden");
        date.setAttribute("name", "date");
        date.setAttribute("value", "{{year}}-{{month}}-{{day}}");
        form.appendChild(date);
    }
    addBuildingAndDate('assign_room');
    addBuildingAndDate('transfer_room');
    addBuildingAndDate('checkout');
    
	var raw = '{{ rooms_json | escapejs }}';
	var raw_json = JSON.parse(raw);

	var body = document.getElementsByTagName('tbody')[0];
	var fragment = document.createDocumentFragment();
	// console.log(body);
	console.time('loop');
	raw_json.forEach(occ => {
		let {pk, room, first_name, last_name, middle_initial, watchers, date_of_stay} = occ;
        let date_string = date_of_stay.start.month_name + ' ' + date_of_stay.start.day + ' - ';
        date_string += date_of_stay.start.month_name + ' ';
        date_string += date_of_stay.end.day;
        console.log(date_string);
		let row = document.createElement('tr');
		let td_room = document.createElement('td');
		let td_patient = document.createElement('td');
		let td_num_watchers = document.createElement('td');
		let td_relationships = document.createElement('td');
		let td_date = document.createElement('td');
		row.appendChild(td_room);
		row.appendChild(td_patient);
		row.appendChild(td_num_watchers);
		row.appendChild(td_relationships);
		row.appendChild(td_date);
		fragment.appendChild(row);
		// td_room.className = ""

		td_room.textContent = room;
		td_patient.textContent = last_name + ', ' + first_name + ' ' + middle_initial + '.';
		td_num_watchers.textContent = String(watchers.count);
		td_relationships.textContent = watchers.list;
		td_date.textContent = date_string;

		// await sleep(5000);
		// console.log(room, patient, watchers, date_of_stay);
	});
	body.appendChild(fragment);
	console.timeEnd('loop');
};
	
</script>
{% endblock page_body %}

{% block page_js %}   
{% endblock page_js %}