{% extends 'main/base.html' %}

{% block title %}Rooms{% endblock title %}

{% load staticfiles %}
        
{% block page_titleicon %}
    <link rel="icon" type="image/png" href="{% static 'images/icons/rooms_titleicon.png' %}">
{% endblock page_titleicon %}

{% block page_stylesheet %}
    <link rel="stylesheet" href="{% static 'css/date.css' %}">
    <link rel="stylesheet" href="{% static 'css/table.css' %}">
{% endblock page_stylesheet %}

{% block nav_bar %}
    <li><a href="{% url 'home' %}">Home</a></li>
    <li class="active"><a href="{% url 'rooms' %}">Rooms</a></li>
    <li><a href="{% url 'patients' %}">Patients</a></li>
    <li><a href="{% url 'summary' %}">Summary</a></li>
    <li><a href="{% url 'inquiry' %}">Inquiry</a></li>
{% endblock nav_bar %}

{% block page_body %}
<div class="body">
    <div class="date-container rooms-dc">
        <div class="row">
            <div class="col">
                <div class="day"><span id="theDay"></span></div>
            </div>
            <div class="col">
                <div class="day-week"><span id="theDayWeek"></span></div>
                <div class="month-year"><span id="theMonthYear"></span></div>
            </div>
        </div>
    </div>
    <div class="table-body">
        <table id="table1" class="table table-striped">
            <thead>
                <tr bgcolor="#ff3333">
                    <th>ROOM #</th>
                    <th>PATIENT'S NAME</th>
                    <th>NO. OF WATCHERS</th>
                    <th>RELATIONSHIP</th>
                    <th>DATE OF STAY</th>
                </tr>
            </thead>

            {% comment %}
            <!-- <tbody>
                {% for patient in object_list %}
                <tr><td>{{patient.room_no}}</td><td>{{patient.last_name}, {patient.first_name} {patient.middle_initial}.}</td>
                <td>{{patient.watcher_no}}</td><td>{{patient.relationship1}, <td>{{patient.relationship2}}</td>}</td>
                <td>{{patient.date_of_stay}}</td></tr>
                {% endfor %}
            </tbody> -->
            {% endcomment %}
            
        </table>
    </div>
</div>
{% endblock page_body %}

{% block page_js %}
    <script src="{% static 'js/date.js' %}"></script>
{% endblock page_js %}