{% extends 'main/base.html' %}

{% block title %}Summary{% endblock title %}

{% load staticfiles %}
        
{% block page_titleicon %}
    <link rel="icon" type="image/png" href="{% static 'images/icons/summary_titleicon.png' %}">
{% endblock page_titleicon %}

{% block page_stylesheet %}
	<link media="screen" rel="stylesheet" href="{% static 'css/summary-daily.css' %}">
	<link media="screen" rel="stylesheet" href="{% static 'css/rooms.css' %}">
    <link media="screen" rel="stylesheet" href="{% static 'css/rooms-table.css' %}">
	<link media="screen" rel="stylesheet" href="{% static 'css/rooms-form.css' %}">
    <link media="print" rel="stylesheet" href="{% static 'css/rooms-print.css' %}">
    <link media="print" rel="stylesheet" href="{% static 'css/rooms-table-print.css' %}">
	<link media="print" rel="stylesheet" href="{% static 'css/rooms-form-print.css' %}">
{% endblock page_stylesheet %}

{% block nav_bar %}
    <li class="nav-item"><a class="nav-link" href="{% url 'home' %}">Home</a></li>
                    
	<li class="nav-item dropdown">
		<a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown">Rooms</a>
		<div class="dropdown-menu dropdown-menu-right">
			<a class="nav-link" href="{% url 'rooms/main' %}">Main</a>
			<a class="nav-link" href="{% url 'rooms/annex' %}">Annex</a>
		</div>
	</li>
	
	<li class="nav-item"><a class="nav-link" href="{% url 'patients' %}">Patients</a></li>
	
	<li class="nav-item dropdown">
		<a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown">Summary</a>
		<div class="dropdown-menu dropdown-menu-right">
			<a class="nav-link" href="{% url 'summary/monthly' %}">Monthly</a>
			<a class="nav-link active" href="{% url 'summary/daily' %}">Daily</a>
		</div>
	</li>
	
	<li class="nav-item dropdown">
		<a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown">Inquiry</a>
		<div class="dropdown-menu dropdown-menu-right">
			<a class="nav-link" href="{% url 'inquiry/filter' %}">Filter</a>
			<a class="nav-link" href="{% url 'inquiry/sort' %}">Sort</a>
		</div>
	</li>
{% endblock nav_bar %}

{% block page_body %}
<div class="container-fluid">
	<div class="row">
		<div class="col-lg-12 summaryD-title-container">
			<div class="summaryD-title text-center">
				DAILY
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-12">
			<form method="post" action="">
				<div class="summaryD-date">
					{% csrf_token %}
					<div class="row">
						<div class="col-lg-12">
							Choose Date
						</div>
						<div class="summaryD-input">
							{{ form.DateChosen }}
						</div>
					</div>
					<button type="submit" class="btn btn-success">
						<span>
							Search
							<i class="fa fa-search" aria-hidden="true"></i>
						</span>
					</button>
				</div>	
			</form>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-12 room-title-container">
			<div class="room-title text-center">
				{{ building }}
			</div>
		</div>
	</div>
    <div class="row">
        <div class="col-lg-12 date-container">
            <div class="row">
                <div class="col-lg-6 text-right">
                    <div class="day" id="theDay">{{ day }}</div>
                </div>
                <div class="col-lg-6">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="day-week" id="theDayWeek">{{ weekday }}</div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="month-year" id="theMonthYear">{{ month_name }} {{ year }}</div> 
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row text-center">
        <div class="col-lg-12 counter-container">
            <div class="row">
                <div id="patient" class="col-lg-6 cname" >Patients</div>
                <div id="watchers" class="col-lg-6 cname" >Watchers</div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="row">
                                <div id="boys" class="col-lg-6 cname">Boys</div>
                                <div id="boysN" class="col-lg-6 cnum-2">{{ count.boys }}</div>
                            </div>
                            <div class="row">
                                <div id="girls" class="col-lg-6 cname">Girls</div>
                                <div id="girlsN" class="col-lg-6 cnum-2">{{ count.girls }}</div>
                            </div>
                        </div>
                        <div id="total" class="col-lg-6 cnum-1">{{ count.total }}</div>
                    </div>
                </div>
                <div id="watch" class="col-lg-6 cnum-1">{{ count.watchers }}</div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="container-table">
            <div class="wrap-table">
                <table class="table" id="table">
                
                <thead>
                    <tr class="table-head text-center">
                        <th class="col-1-d">Room #</th>
                        <th class="col-2-d">Patient's Name</th>
                        <th class="col-3-d">Age</th>
                        <th class="col-4-d">Sex</th>
                        <th class="col-5-d">Diagnosis</th>
						<th class="col-6-d">Watcher #</th>
						<th class="col-7-d">Relationship</th>
						<th class="col-8-d">Date of Stay</th>
						<th class="col-9-d">Address</th>
                    </tr>
                </thead>

                <tbody>
					{% comment %}
                    {% for patient in daily %}
                    <tr>
                        <td class="col-1-d">{{ room.room.display_name }}</td>
                        <td class="col-2-d">{{ room.patient.last_name }}, {{ room.patient.first_name }} {{ room.patient.middle_initial }}.</td>
						<td class="col-3-d">{{ room.watchers.count }}</td>
						<td class="col-4-d">{{ room.watchers.list }}</td>
						<td class="col-5-d">{{ room.date_of_stay.start}} - {{ room.date_of_stay.end}}</td>
						<td class="col-6-d">{{ room.date_of_stay.start}} - {{ room.date_of_stay.end}}</td>
						<td class="col-7-d">{{ room.date_of_stay.start}} - {{ room.date_of_stay.end}}</td>
						<td class="col-8-d">{{ room.date_of_stay.start}} - {{ room.date_of_stay.end}}</td>
						<td class="col-9-d">{{ room.date_of_stay.start}} - {{ room.date_of_stay.end}}</td>
                    </tr>
					{% endfor %} 
					{% endcomment %}
                </tbody>
                
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock page_body %}

{% block page_js %}
{% endblock page_js %}