{% extends 'main/base.html' %}

{% block title %}Summary{% endblock title %}

{% load staticfiles %}
        
{% block page_titleicon %}
    <link rel="icon" type="image/png" href="{% static 'images/icons/summary_titleicon.png' %}">
{% endblock page_titleicon %}

{% block page_stylesheet %}
	<link media="screen" rel="stylesheet" href="{% static 'css/summary-daily.css' %}">
	<link media="screen" rel="stylesheet" href="{% static 'css/rooms.css' %}">
    <link media="screen" rel="stylesheet" href="{% static 'css/rooms-table.css' %}">
	<link media="screen" rel="stylesheet" href="{% static 'css/rooms-form.css' %}">
    <link media="print" rel="stylesheet" href="{% static 'css/rooms-print.css' %}">
    <link media="print" rel="stylesheet" href="{% static 'css/rooms-table-print.css' %}">
	<link media="print" rel="stylesheet" href="{% static 'css/rooms-form-print.css' %}">
	<link media="print" rel="stylesheet" href="{% static 'css/summary-daily-print.css' %}">
{% endblock page_stylesheet %}

{% block nav_bar %}
    <li class="nav-item"><a class="nav-link" href="{% url 'home' %}">Home</a></li>
                    
	<li class="nav-item dropdown">
		<a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown">Rooms</a>
		<div class="dropdown-menu dropdown-menu-right">
			<a class="nav-link" href="{% url 'rooms/main' %}">Main</a>
			<a class="nav-link" href="{% url 'rooms/annex' %}">Annex</a>
		</div>
	</li>
	
	<li class="nav-item"><a class="nav-link" href="{% url 'patients' %}">Patients</a></li>
	
	<li class="nav-item dropdown">
		<a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown">Summary</a>
		<div class="dropdown-menu dropdown-menu-right">
			<a class="nav-link" href="{% url 'summary/monthly' %}">Monthly</a>
			<a class="nav-link active" href="{% url 'summary/daily' %}">Daily</a>
		</div>
	</li>
	
	<li class="nav-item dropdown">
		<a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown">Inquiry</a>
		<div class="dropdown-menu dropdown-menu-right">
			<a class="nav-link" href="{% url 'inquiry/filter' %}">Filter</a>
			<a class="nav-link" href="{% url 'inquiry/sort' %}">Sort</a>
		</div>
	</li>
{% endblock nav_bar %}

{% block page_body %}
<div class="container-fluid">
	<div class="row">
		<div class="col-lg-12 summaryD-title-container">
			<div class="summaryD-title text-center">
				DAILY
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-12">
			<form method="post" action="" id="myform">
				<div class="summaryD-date">
					{% csrf_token %}
					<div class="row">
						<div class="col-lg-12" id="Chooser">
							Choose Date
						</div>
						<div class="summaryD-input">
							{{ form.DateChosen }}
						</div>
					</div>
					<div id="searchBut">
					<button type="submit" class="btn btn-success">
						<span>
							Search
							<i class="fa fa-search" aria-hidden="true"></i>
						</span>
					</button>
				</div>
				</div>	
			</form>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-12 room-title-container">
			<div class="room-title text-center">
				{{ building }}
			</div>
		</div>
	</div>
    <!-- <div class="row">
        <div class="col-lg-12 date-container">
            <div class="row">
                <div class="col-lg-6 text-right">
                    <div class="day" id="theDay">{{ day }}</div>
                </div>
                <div class="col-lg-6">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="day-week" id="theDayWeek">{{ weekday }}</div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="month-year" id="theMonthYear">{{ month_name }} {{ year }}</div> 
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
    <div class="row text-center">
        <div class="col-lg-12 counter-container">
            <div class="row">
                <div id="patient" class="col-lg-6 cname" >Patients</div>
                <div id="watchers" class="col-lg-6 cname" >Watchers</div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="row">
                                <div id="boys" class="col-lg-6 cname">Boys</div>
                                <div id="boysN" class="col-lg-6 cnum-2">{{ count.boys }}</div>
                            </div>
                            <div class="row">
                                <div id="girls" class="col-lg-6 cname">Girls</div>
                                <div id="girlsN" class="col-lg-6 cnum-2">{{ count.girls }}</div>
                            </div>
                        </div>
                        <div class="col-lg-6 cnum-1"  id="total">{{ count.total }}</div>
                    </div>
                </div>
                <div id="watch" class="col-lg-6 cnum-1">{{ count.watchers }}</div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="container-table">
            <div class="wrap-table">
                <table class="table" id="table">
                
                <thead>
                    <tr class="table-head text-center">
                        <th class="col-1-d">Room #</th>
                        <th class="col-2-d">Patient's Name</th>
                        <th class="col-3-d">Age</th>
                        <th class="col-4-d">Sex</th>
                        <th class="col-5-d">Diagnosis</th>
						<th class="col-6-d">Watcher #</th>
						<th class="col-7-d">Relationship</th>
						<th class="col-8-d">Date of Stay</th>
						<th class="col-9-d">Address</th>
                    </tr>
                </thead>

                <tbody>
					{% comment %}
                    {% for patient in daily %}
                    <tr>
                        <td class="col-1-d">{{ room.room.display_name }}</td>
                        <td class="col-2-d">{{ room.patient.last_name }}, {{ room.patient.first_name }} {{ room.patient.middle_initial }}.</td>
						<td class="col-3-d">{{ room.watchers.count }}</td>
						<td class="col-4-d">{{ room.watchers.list }}</td>
						<td class="col-5-d">{{ room.date_of_stay.start}} - {{ room.date_of_stay.end}}</td>
						<td class="col-6-d">{{ room.date_of_stay.start}} - {{ room.date_of_stay.end}}</td>
						<td class="col-7-d">{{ room.date_of_stay.start}} - {{ room.date_of_stay.end}}</td>
						<td class="col-8-d">{{ room.date_of_stay.start}} - {{ room.date_of_stay.end}}</td>
						<td class="col-9-d">{{ room.date_of_stay.start}} - {{ room.date_of_stay.end}}</td>
                    </tr>
					{% endfor %} 
					{% endcomment %}
                </tbody>
                
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock page_body %}

{% block page_js %}
<script>
var datee = '';
window.onload = function(){
    
    $('#id_DateChosen').change(function(){
        console.log('chng', this.value.replace(/-/g, '/'));
        $('#myform').attr('action', "{% url 'summary/daily' %}/"+this.value.replace(/-/g, '/'));
        <!-- console.log -->
    });
    function titleCase(str) {
       var splitStr = str.toLowerCase().split(' ');
       for (var i = 0; i < splitStr.length; i++) {
           // You do not need to check if i is larger than splitStr length, as your for does that for you
           // Assign it back to the array
           splitStr[i] = splitStr[i].charAt(0).toUpperCase() + splitStr[i].substring(1);     
       }
       // Directly return the joined string
       return splitStr.join(' '); 
    }
    function addRoom(occ, empty=null){
        
        let row = document.createElement('tr');
        let td_room = document.createElement('td');
        let td_patient = document.createElement('td');
        let td_age = document.createElement('td');
        let td_sex = document.createElement('td');
        let td_diagnosis = document.createElement('td');
        let td_num_watchers = document.createElement('td');
        let td_relationships = document.createElement('td');
        let td_date = document.createElement('td');
        let td_address = document.createElement('td');

        td_room.setAttribute("id", "colu1");
        td_age.setAttribute("id", "colu1");
        td_sex.setAttribute("id", "colu1");
        td_num_watchers.setAttribute("id", "colu1");
        td_date.setAttribute("id", "colu2");
        td_patient.setAttribute("id", "colu2");
        td_diagnosis.setAttribute("id", "colu2");
        td_relationships.setAttribute("id", "colu2");
        td_address.setAttribute("id", "colu2");

        row.appendChild(td_room);
        row.appendChild(td_patient);
        row.appendChild(td_age);
        row.appendChild(td_sex);
        row.appendChild(td_diagnosis);
        row.appendChild(td_num_watchers);
        row.appendChild(td_relationships);
        row.appendChild(td_date);
        row.appendChild(td_address);
        fragment.appendChild(row);

        let {pk, room, room_name, first_name, last_name, middle_initial, age, sex, diagnosis, watchers, date_of_stay, city} = occ;
        let date_string = date_of_stay.start.month_name + ' ' + date_of_stay.start.day + ' - ';
        date_string += date_of_stay.end.month_name + ' ';
        date_string += date_of_stay.end.day;
    
        td_patient.textContent = last_name + ', ' + first_name + ' ' + middle_initial + '.';
        td_num_watchers.textContent = String(watchers.count);
        td_relationships.textContent = watchers.list;
        td_date.textContent = date_string;
        td_sex.textContent = sex;
        td_age.textContent = age;
        td_diagnosis.textContent = diagnosis;
        td_address.textContent = city;
        td_room.textContent = room_name;
        
		
    }
    
    <!-- asdnasdhi -->
    var num_rooms = {{num_rooms}};
    console.log(num_rooms);
    var raw = '{{ rooms_json | escapejs }}';
    <!-- waesaidji -->
	var raw_json = JSON.parse(raw);

	var body = document.getElementsByTagName('tbody')[0];
	var fragment = document.createDocumentFragment();
	// console.log(body);
	console.time('loop');
    var room_num = 1;
    var last_room = 0;
	raw_json.forEach((occ, i, occs) => {
        addRoom(occ);
		
	});
    
	body.appendChild(fragment);

}

</script>
{% endblock page_js %}