{% extends 'main/base.html' %}

{% block title %}Summary{% endblock title %}

{% load staticfiles %}
        
{% block page_titleicon %}
    <link rel="icon" type="image/png" href="{% static 'images/icons/summary_titleicon.png' %}">
{% endblock page_titleicon %}

{% block page_stylesheet %}
	<link media="screen" rel="stylesheet" href="{% static 'css/summary-monthly.css' %}">
	<link rel="stylesheet" href="{% static 'css/patients-table.css' %}">
{% endblock page_stylesheet %}

{% block nav_bar %}
    <li class="nav-item"><a class="nav-link" href="{% url 'home' %}">Home</a></li>
                    
	<li class="nav-item dropdown">
		<a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown">Rooms</a>
		<div class="dropdown-menu dropdown-menu-right">
			<a class="nav-link" href="{% url 'rooms/main' %}">Main</a>
			<a class="nav-link" href="{% url 'rooms/annex' %}">Annex</a>
		</div>
	</li>
	
	<li class="nav-item"><a class="nav-link" href="{% url 'patients' %}">Patients</a></li>
	
	<li class="nav-item dropdown">
		<a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown">Summary</a>
		<div class="dropdown-menu dropdown-menu-right">
			<a class="nav-link active" href="{% url 'summary/monthly' %}">Monthly</a>
			<a class="nav-link" href="{% url 'summary/daily' %}">Daily</a>
		</div>
	</li>
	
	<li class="nav-item dropdown">
		<a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown">Inquiry</a>
		<div class="dropdown-menu dropdown-menu-right">
			<a class="nav-link" href="{% url 'inquiry/filter' %}">Filter</a>
			<a class="nav-link" href="{% url 'inquiry/sort' %}">Sort</a>
		</div>
	</li>
{% endblock nav_bar %}

{% block page_body %}
<div class="container-fluid">
	<div class="row">
		<div class="col-lg-12 summaryM-title-container">
			<div class="summaryM-title text-center">
				MONTHLY
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-12">
			<form id="search_form">
				<div class="summaryM-date">
					{% csrf_token %}
					<div class="row">
						<div class="col-lg-12">
							Choose Date
						</div>
						<div class="summaryM-input">
							{{ form.DateChosen }}
						</div>
					</div>
					<button type="submit" class="btn btn-success" id="search_button">
						<span>
							Search
							<i class="fa fa-search" aria-hidden="true"></i>
						</span>
					</button>
				</div>	
			</form>
		</div>
        <div class="container-table">
            <div class="wrap-table">
                <table class="table" id="table">
					<thead>
						<tr class="table-head">
							<th class="col-1">Day</th>
							<th class="col-2">No. of Patients</th>
							<th class="col-3">No. of Watchers</th>
						</tr>
					</thead>

					<tbody id="app">
						{% for day in month %}
						<tr>
							<td class="col-1">{{ month.day }}</td>
							<td class="col-2">{{ month.patient_num }}</td>
							<td class="col-3">{{ month.watcher_num }}</td>
						</tr>
						{% endfor %}
					</tbody>
                </table>
			</div>
		</div>
	</div>
</div>
{% endblock page_body %}

{% block page_js %}

<script>

<!-- document.onLoad = function(){ -->
console.log("AAAA");
    
<!-- $('#search_form').on('submit', function(e){ -->
$('#search_form').submit(function(e){
    let date =  $('#id_DateChosen')[0].value;
    let doc = document;
    
    // clear table and add loading
    let tbody = doc.getElementById('app');
    tbody.innerHTML = '';
    let tr = doc.createElement('tr');
    let td = doc.createElement('td');
    td.setAttribute('colspan', 3);
    td.innerText = 'Loading...';
    tbody.appendChild(tr);
    tr.appendChild(td);
    
    date = date.split('-');
    console.log(date);
    Pace.restart();
    
    var loading = true;
    fetch("summary/monthly/"+date[0]+"/"+date[1])
        .then((response)=>{
            return response.json();
        }).then((json)=>{
            <!-- console.log(json); -->
            
            tbody.innerHTML = '';
            
            json.forEach((row)=>{
                <!-- console.log(row); -->
                let tr = doc.createElement('tr');
                let day = doc.createElement('td');
                let numPatients = doc.createElement('td');
                let numWatchers = doc.createElement('td');
                tr.appendChild(day);
                tr.appendChild(numPatients);
                tr.appendChild(numWatchers);
                tbody.appendChild(tr);
                
                day.innerText = row[0];
                numPatients.innerText = row[1].patients;
                numWatchers.innerText = row[1].watchers;
            });
        });
    
    <!-- e.prevenDefault(); -->
    return false;
});



<!-- } -->

</script>
{% endblock page_js %}