{% extends 'main/base.html' %}
{% block title %}Summary{% endblock title %}
{% load staticfiles %}
{% block page_titleicon %}
<link rel="icon" type="image/png" href="{% static 'images/icons/summary_titleicon.png' %}">
{% endblock page_titleicon %}
{% block page_stylesheet %}
{% endblock page_stylesheet %}
{% block nav_bar %}
<li class="nav-item"><a class="nav-link" href="{% url 'home' %}">Home</a></li>
<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown">Rooms</a>
    <div class="dropdown-menu dropdown-menu-right">
        <a class="nav-link" href="{% url 'rooms/main' %}">Main</a>
        <a class="nav-link" href="{% url 'rooms/annex' %}">Annex</a>
    </div>
</li>
<li class="nav-item"><a class="nav-link" href="{% url 'patients' %}">Patients</a></li>
<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown">Summary</a>
    <div class="dropdown-menu dropdown-menu-right">
        <a class="nav-link" href="{% url 'summary/monthly' %}">Monthly</a>
        <a class="nav-link active" href="{% url 'summary/daily' %}">Daily</a>
    </div>
</li>
<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown">Inquiry</a>
    <div class="dropdown-menu dropdown-menu-right">
        <a class="nav-link" href="{% url 'inquiry/filter' %}">Filter</a>
        <a class="nav-link" href="{% url 'inquiry/sort' %}">Sort</a>
    </div>
</li>
{% endblock nav_bar %}
{% block page_body %}
Summary-daily
{% endblock page_body %}
{% block page_js %}
{% endblock page_js %}