.inquiry-filter1 {
	position: relative;
	top: 90px;
	width: 50%;
	min-height: 100vh;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	padding: 15px;
	background: #ffffff;
}

.inquiry-filter2 {
	position: absolute;
	top: 90px;
	left: 50%;
	width: 50%;
	min-height: 100vh;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	padding: 15px;
	text-align: center;
}

.inquiry-wrap1 {
	border: solid;
	border-color: #8b0000;
}

.filter-form-title {
	display: block;
	font-family: Montserrat-Bold;
	font-size: 39px;
	color: #333333;
	line-height: 1.2;
	text-align: center;
	padding-bottom: 10px;
}

.inquiry-checkbox {
	width: 100%;
	display: inline-block;
	position: relative;
	top: 20px;
	left: 20px;
	padding-bottom: 20px;
	color: #000000;
	font-family: Montserrat-Medium;
}

.label-filter1 {
	font-size: 18px;
	color: #000000;
	font-family: Montserrat-Medium;
}

.label-sub-filter1 {
	font-size: 13px;
	color: #000000;
	font-family: Montserrat-Medium;
}

.inquiry-info {
	color: #000000;
	font-family: Montserrat-Medium;
}

.info1 {
	font-size: 20px;
}

.info2 {
	font-size: 18px;
}

.info3 {
	font-size: 16px;
}

.inquiry-table-body {
	/*position: relative;
	top: 250px;*/
	color: #000000;

	width: 100%;
	height: auto;
	margin-top: 30px;
}


.inquiry-table1 {
	/*width: 70%; 
	margin-left: 15%; 
	margin-right: 15%;
	text-align: left;*/
	table-layout: auto;
	width: 100%;
}

th, td {
	padding: 15px;
}

th {
	background-color: #b85c5c;
}

tr:hover {
	background-color: #b85c5c;
}