ul {
	list-style: none;
}

.filter-body .col-lg-4 {
	padding: 3% 1% 0% 1%;
}

.filter-body .col-lg-6,
.filter-body .col-lg-12 {
	padding: 0% 1% 0% 1%;
}

.filter-container {
	padding: 3% 1% 3% 1%;
}

.filter-wrap {
	border: solid;
	border-color: #8b0000;
	border-radius: 5px;
	padding: 4% 7% 4% 7%;
	font-size: 15px;
}

.filter-content {
    padding: 0;
}

.filter-header {
	padding: 1rem 1rem;
    border-top-left-radius: .3rem;
    border-top-right-radius: .3rem
}

.filter-title {
	font-size: 35px;
	font-weight: bold;
	color: #333333;
	line-height: 1.2;
	text-align: center;
	padding-bottom: 10px;
}	

.filter-body {
    position: relative;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1rem;
}

.filter-footer {
    justify-content: center;
}

.input {
    width: 100%;
    padding-bottom: 13px;
	margin-bottom: 27px;
    border-style: none none solid none;
    border-bottom: 2px solid #d9d9d9;
    background: transparent;
    color: #333333;
    font-size: 14px;
    font-weight: 500;
}

.input:focus + .focus-input::before {
	width: 100%;
}

.has-val.input + .focus-input::before {
	width: 100%;
}

.input:focus {
    border-color: #000;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.filter-footer .btn {
    width: 49%;
    height: 50px;
    border-radius: 25px;
}

.filter-footer .btn .btn-success {
    background: -moz-linear-gradient(top, #28a745 0%, #100000 100%);
    background: -webkit-linear-gradient(top, #28a745 0%, #100000 100%);
    background: linear-gradient(to bottom, #28a745 0%, #100000 100%);
}

.filter-footer .btn .btn-danger {
    background: -moz-linear-gradient(top, #dc3545 0%, #100000 100%);
    background: -webkit-linear-gradient(top, #dc3545 0%, #100000 100%);
    background: linear-gradient(to bottom, #dc3545 0%, #100000 100%);
}

.filter-footer .btn i {
	-webkit-transition: all 0.4s;
	-o-transition: all 0.4s;
	-moz-transition: all 0.4s;
	transition: all 0.4s;    
}

.filter-footer .btn:hover i {
    -webkit-transform: translateX(10px);
	-moz-transform: translateX(10px);
	-ms-transform: translateX(10px);
	-o-transform: translateX(10px);
	transform: translateX(10px);
}

.results-container {
	padding: 4%;
}

.results-wrap {
	border: none;
	padding: 7% 2% 7% 2%;
	font-size: 16px;
}

.results-container .col-lg-4,
.results-container .col-lg-12 {
	padding: 0;
}