/* FONT */

@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,400i,500,600,700,800,900');

/* GENERAL */

* {
	margin: 0;
	padding: 0;
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
}

body {
	font-family: Montserrat, sans-serif;
	font-size: 14px;
	font-weight: 400;
	background: #ffffff;
	color: #a5a5a5;
	overflow: auto;
}

div {
	display: block;
	position: relative;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

ul {
	list-style: none;
	margin-bottom: 0px;
}

p {
	font-family: Montserrat, sans-serif;
	font-size: 14px;
	line-height: 2;
	font-weight: 400;
	color: #929191;
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
}

p a {
	display: inline;
	position: relative;
	color: inherit;
	border-bottom: solid 1px #ffa07f;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}

p:last-of-type {
	margin-bottom: 0;
}

a, a:hover, a:visited, a:active, a:link {
	text-decoration: none;
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
}

p a:active {
	position: relative;
	color: #007272;
}

p a:hover {
	color: #ffffff;
	background: #66aaaa;
}

p a:hover::after {
	opacity: 0.2;
}

.super_container {
	width: 100%;
}

/* HEADER */
.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background: #720000;
	z-index: 200;
	border-bottom: solid 1px transparent;
    border-image: linear-gradient(to right, #550000, #000000);
    border-image-slice: 1;
    -webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}

.header_content {
	font-family: Montserrat, sans-serif;
	height: 90px;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}

.logo {
	width: 110px;
}

.main_nav {
	overflow: hidden;
	margin-left: 157px;
}

.main_nav ul li {
	display: inline-block;
}

.main_nav ul li:not(:last-child) {
	margin-right: 60px;
}

.main_nav ul li a {
	font-size: 16px;
	font-weight: 500;
	color: #ffffff;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}

.main_nav ul li.active a,
.main_nav ul li a:hover {
	color: #00bfbf;
}

.wrap-out-btn {
    display: inline-block;
    position: relative;
    z-index: 1;
    width: 10%;
    height: 43px;
    border-radius: 22px;
    background: linear-gradient(to right, #487fee, #32fa95);
    padding: 0px;
    overflow: hidden;
    margin: 0 auto;
}

.out-bg-btn {
    position: absolute;
    z-index: -1;
    width: 100%;
	height: 100%;
	padding: 20px;
	background: #3f6fce;
	border-radius: 20px;
}

.out-btn {
    position: absolute;
    z-index: 2;
    font-size: 16px;
	font-weight: 500;
	color: #ffffff;
    width: 100%;
    height: 100%;
    background-color: transparent;
    border-radius: 20px;
    border-color: transparent;
    align-items: right;
}

.out-btn span:hover {
    color: #000000;
}

.bar {
	display: none;
	cursor: pointer;
}

.bar i {
	font-size: 18px;
	color: #ffffff;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}

.bar i:hover {
	color: #00bfbf;
}