.p-header-cont {
    position: relative;
	top: 90px;
    flex-wrap: wrap;
	justify-content: center;
}

.p-header-wrap {
    width: 49%;
	display: inline-block;
	position: relative;
	z-index: 1;
	overflow: hidden;
	margin: 0 auto;
    min-width: 160px;
}

.header_center {
}

.patient_search {
    background-color: yellow;
}

.patient_add {
    background-color: red;s
}