.form-control {
    border-style: none none solid none;
    border-bottom: 2px solid #000;
    border-radius: 0;
}

.form-control-no-border:focus {
    border-color: #000;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.patient_add-container {
    width: 100%;
    min-height: 100px;
    background: #fff;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 10px;
}

.btn-outline-dark {
    border-radius: 20px;
}