.modal-body .col-lg-2,
.modal-body .col-lg-5 {
    padding: 0px 5px;
}

.modal {
    padding: 0 !important;
}

.modal-content {
    padding: 45px;
}

.modal-title {
    font-size: 39px;
    font-weight: bold;
    color: #333333;
    justify-content: center;
}

.modal-footer {
    justify-content: center;
}

.input {
    width: 100%;
    padding-bottom: 13px;
    margin-bottom: 27px;
    border-style: none none solid none;
    border-bottom: 2px solid #d9d9d9;
    background: transparent;
    color: #333333;
    font-size: 18px;
    font-weight: 500;
}

.input:focus + .focus-input::before {
    width: 100%;
}

.has-val.input + .focus-input::before {
    width: 100%;
}

.input:focus {
    border-color: #000;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.modal-footer .btn {
    width: 50%;
    height: 50px;
    border-radius: 25px;
}

.modal-footer .btn .btn-success {
    display: none;
    background: -moz-linear-gradient(top, #28a745 0%, #100000 100%);
    background: -webkit-linear-gradient(top, #28a745 0%, #100000 100%);
    background: linear-gradient(to bottom, #28a745 0%, #100000 100%);
}

.modal-footer .btn .btn-danger {
    display: none;
    background: -moz-linear-gradient(top, #dc3545 0%, #100000 100%);
    background: -webkit-linear-gradient(top, #dc3545 0%, #100000 100%);
    background: linear-gradient(to bottom, #dc3545 0%, #100000 100%);
}

.modal-footer .btn i {
    display: none;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;    
}

.modal-footer .btn:hover i {
    display:none;
    -webkit-transform: translateX(10px);
    -moz-transform: translateX(10px);
    -ms-transform: translateX(10px);
    -o-transform: translateX(10px);
    transform: translateX(10px);
}