
<<<<<<< HEAD
ul {
	list-style: none;
}
.room-title-container {
	padding: 2% 0% 0% 0%;
}

.room-title {
	font-size: 50px;
}

.date-container {
    padding: 3% 10% 3% 10%;
}

.day {
	font-size: 50px;
	font-weight: 600;
    padding: 0% 15% 0% 0%;
}

.day-week {
	font-size: 30px;
	text-transform: uppercase;
	font-weight: 600;
}

.month-year {
	font-size: 20px;
}

.counter-container {
    padding: 1% 25% 1% 25%;
}

.cname {
    font-size: 25px;
}

.cnum-1 {
    font-size: 60px;
    font-weight: 600;
}

.cnum-2 {
    font-size: 28px;
    font-weight: 600;
}

.print-btn {
	border-radius: 30px;
	height: 50px;
	width: 125px;
	align-items: right;
}
}

@media print {

=======
>>>>>>> e2be4e64eaf580ed885b75537d147d1bb183e89e
.row {
    margin: 0;
}

<<<<<<< HEAD
.col-lg-1,
=======
>>>>>>> daming changes
=======
.col-lg-1 {
    padding: 0;
}

>>>>>>> e2be4e64eaf580ed885b75537d147d1bb183e89e
.col-lg-4,
.col-lg-6,
.col-lg-12 {
    padding: 0;
}

.room-title-container {
	padding: 2% 0% 0% 0%;
}

.room-title {
	font-size: 50px;
    text-transform: uppercase;
}

.date-container {
    padding: 3% 10% 3% 10%;
}

.day {
	font-size: 50px;
	font-weight: 600;
    padding: 0% 15% 0% 0%;
}

.day-week {
	font-size: 30px;
	text-transform: uppercase;
	font-weight: 600;
}

.month-year {
	font-size: 20px;
}

.counter-container {
    padding: 1% 25% 1% 25%;
}

.cname {
    font-size: 25px;
}

.cnum-1 {
    font-size: 60px;
    font-weight: 600;
}

.cnum-2 {
    font-size: 28px;
    font-weight: 600;
}

.cnum-2 {
    font-size: 28px;
    font-weight: 600;
}

.print-btn {
	border-radius: 30px;
	height: 50px;
	width: 125px;
	align-items: right;
}