.col-lg-12 {
    padding: 0;
}

.summaryD-title-container {
	padding: 2% 0% 0% 0%;
}

.summaryD-title {
	font-size: 50px;
    text-transform: uppercase;
}

.summaryD-date {
	text-align: center;
}

.summaryD-input {
	width: 50%;
	margin: 1% 40% 1% 40%;
}