
.split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

/* Control the left side */
.left {
  left: 2;
}

/* Control the right side */
.right {
  right: 0;
}

/* If you want the content centered horizontally and vertically */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

/* Style the image inside the centered container, if needed */
.centered img {
  width: 150px;
  border-radius: 50%;
}

.table-body{
	position: relative;
	top: 260px;
	width: 150%;
	height: auto;
	font-family: Montserrat, sans-serif;
	box-shadow: 5px 10px 10px 10px #888888;
	
}

table#table1 {
	width: 100%; 
	margin-left:; 
	margin-right:%;
	text-align: center;
    height: 5px;
}
 
.table-striped>tbody>tr:nth-child(odd)>td, 
.table-striped>tbody>tr:nth-child(odd)>th {
	background-color: rgba(255,112,77,0.5);
}

th, td, tr {
	color: black;
}