.col-lg-12 {
    padding: 0;
}

.summaryD-title-container {
	padding: 2% 0% 0% 0%;
}

.summaryD-title {
	font-size: 50px;
    text-transform: uppercase;
}

.summaryD-date {
	text-align: center;
	padding-bottom: 50px;
}

.summaryD-input {
	width: 50%;
	margin: 1% 40% 1% 40%;
}

.col-1-d {
}

.col-2-d {
}

.col-3-d {
}

.col-4-d {
}

.col-5-d {
}

.col-6-d {
}

.col-7-d {
}

.col-8-d {
}

.col-9-d {
}