.split {
    position: fixed;
	top: 90px;
    height: 87%;
    width: 50%;
    z-index: 1;
    overflow-x: auto;
    padding-top: 0;
}

.left {
    left: 0;
}

.right {
    right: 0;
}

.centered {
    position: absolute;
    text-align: center;
    padding-top: 20px;
    margin-left: 20%;
}

/* TABLE */
.table-body {
	position: relative;
	top: 0;
	width: 150%;
	height: auto;
	font-family: Montserrat, sans-serif;
}

table#table1 {
	width: 100%;
	text-align: center;
    box-shadow: 0 5px 8px 5px rgba(0, 0, 0, 0.2), 5px 20px 20px 5px rgba(0, 0, 0, 0.19);
}
 
.table-striped>tbody>tr:nth-child(odd)>td, 
.table-striped>tbody>tr:nth-child(odd)>th {
	background-color: rgba(255,112,77,0.5);
}

th, td, tr {
	color: black;
}