.table-body {
	text-align: center;
	position: relative;
	top: 250px;
	width: 100%;
	height: auto;
	font-family: Montserrat, sans-serif;
    background-color: #F7F8FA;
    padding-top: 50px;
    padding-bottom: 5%;
}

table {
    margin: 0 auto;
	text-align: left;
    padding: 10px;
}

#patient_table {
	width: 60%;
}

#rooms_table {
	width: 70%;
}

.text-center {
    text-align: center;
}
 
/*.table-striped>tbody>tr:nth-child(odd)>td, 
.table-striped>tbody>tr:nth-child(odd)>th {
	background-color: rgba(255,112,77,0.5);
}*/

th, td {
	color: black;
}

tr {
    background-color: #ffffff;
}

tr:hover {
    background-color: #C0C0C0;
}

.tr_head {
    background-color: #ff3333;
}